.page {
  background-attachment: fixed;
}
.header,
.footer {
  min-height: 100vh; /* Высота во весь экран */
  display: grid;     /* Или flex, чтобы контент внутри центрировался */
}
@media (prefers-color-scheme: dark) {
  :root {
    /* Проверь эти цвета по макету Практикума! */
    --background-color: #000028; 
    --main-font-color: #f1b2ce;
    /* и так далее */
  }
}

